<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iBoardBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <iBoardBot.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://ibbapp.jjrobots.com/</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>YOUR_APPID</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Modenine.ttf</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>HH:mm</value>
            </setting>
        </iBoardBot.Properties.Settings>
    </applicationSettings>
</configuration>